{% extends 'base.html'%}
{%block content%}
<div>
<h1>Estas son las empresas disponibles</h1>
<form action="." method="get">
<input class="uk-input uk-form-width-small" type="text" name="search" value="{{request.GET.search}}">
<button  class="uk-button uk-button-default" type="submit">Buscar empresa</button>
</form>

    <ul>
    {%for query in empresas%}
        <li>
            <a href="{{query.get_absolute_url}}">{{query.nombre_empresa}}</a>
        </li>
     {%endfor%}
    </ul>
</div>
{%endblock content%}